@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ck62z2');
  src:  url('fonts/icomoon.eot?ck62z2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ck62z2') format('truetype'),
    url('fonts/icomoon.woff?ck62z2') format('woff'),
    url('fonts/icomoon.svg?ck62z2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vue:before {
  content: "\e905";
}
.icon-angular:before {
  content: "\e900";
}
.icon-c:before {
  content: "\e901";
}
.icon-css:before {
  content: "\e902";
}
.icon-html:before {
  content: "\e903";
}
.icon-ionic:before {
  content: "\e904";
}
.icon-java:before {
  content: "\e906";
}
.icon-javascript:before {
  content: "\e907";
}
.icon-mysql:before {
  content: "\e908";
}
.icon-node:before {
  content: "\e909";
}
.icon-nodejs:before {
  content: "\e90a";
}
.icon-php:before {
  content: "\e90b";
}
.icon-shell:before {
  content: "\e90d";
}
.icon-typescript:before {
  content: "\e90c";
}
